@model V.Doc_ASP.NET.Models.CustomModel.PrescriptionModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoctorPrescriptionDetails</title>
</head>
<body>
    <div>
        <h4>PrescriptionModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>
    
            <dd>
                @foreach (var item in Model.ListOfDetails)
                {

                    <p>@item</p>

                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>           
    
            <dt>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TimeCreated)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TimeUpdated)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TimeUpdated)
            </dd>
       
            <dt>
                @Html.DisplayNameFor(model => model.PatientName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PatientName)
            </dd>
                  
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "DoctorViewList")
    </p>
</body>
</html>
