@model V.Doc_ASP.NET.Models.CustomModel.PatientModel

@{
    ViewBag.Title = "AccountDetails";
}

<h2>AccountDetails</h2>

<div>
    <h4>PatientModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd>
            <img src="@Url.Content(Model.ProfilePicture)" width="100" height="100" />
        </dd>

        <dd>
            <input type="button" value="Edit Profile" onclick="location.href='@Url.Action("EditProfile", "PatientAccount")'">
         </dd>
        <dd>
            <input type="button" value="Change Password" onclick="location.href='@Url.Action("EditPassword", "PatientAccount")'">
        </dd>
     </dl>
</div>

@section UserImage{

    <img src="@Url.Content(Model.ProfilePicture)" class="img-circle" alt="User Image" style="width:100px">

}
@section UserName{

    if(@Model.FirstName!=null)
    {
    @Model.FirstName @Model.LastName
    }

}

@section ContactList{

    @Html.Action("GetContactListPartialView", "Contact")
}