@using V.Doc_Entity;
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>@ViewBag.Title</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    </head>
    <body >
        <div>
            <div onclick="location.href='@Url.Action("AccountDetails", "AdminAccount")'">
                <div>
                    @RenderSection("UserImage", false)
                </div>
                <div>
                    @RenderSection("UserName",false)
                </div>
            </div>
        </div>

        <div>
            <div>
                <input type="button" name="Admin" value="Admin" onclick="location.href='@Url.Action("CreateAccount", "AdminAccount")'" ><br>
                <input type="button" value="Doctor" onclick="location.href='@Url.Action("CreateAccount", "DoctorAccount")'"><br>
                <input type="button" value="Show Users" onclick="location.href='@Url.Action("ShowUserList", "AdminAccount")'"><br>
                <input type="button" value="Specialist" onclick="location.href='@Url.Action("CreateSpecialist", "Specialist")'"><br>
                <input type="button" value="Complain" onclick="location.href='@Url.Action("MyAction", "AdminAccount")'">
            </div>
            <div style="padding:10px">
                @RenderBody();
            </div>           
        </div>

        <div></div>

        @RenderSection("Scripts",false)
    </body>
</html>