@using V.Doc_Entity;
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body>
    <div>
        <div onclick="location.href='@Url.Action("AccountDetails", "DoctorAccount")'">
            <div>
                @RenderSection("UserImage", false)
            </div>
            <div>
                @RenderSection("UserName", false)
            </div>
        </div>
    </div>

    <div>
        <div>
            <input type="button" value="Contact" onclick="location.href='@Url.Action("PendingIndex", "Contact")'"><br>
            <input type="button" value="Prescription" onclick="location.href='@Url.Action("DoctorViewList", "Prescription")'">
        </div>
        <div>
            @RenderSection("ContactList", false)
        </div>
        <div style="padding:10px">
            @RenderBody();
        </div>
    </div>

    <div></div>

    @RenderSection("Scripts", false)
</body>
</html>